* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1055px;
    margin: 0 auto;
    display: flex;
}

body {
    font-family: 'Raleway', Arial, Tahoma, sans-serif;
}

header {
    background-color: black;
    width: 100%;
    color: white;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1px;
}
header .container{
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
div.logo p:nth-child(2){
    color: #26BAA0;
    font-weight: 700;
}

div.container p {
    margin-right: 5px;
}

.menu {
     display: flex;
     list-style: none;
     text-decoration: none;
     position: relative;
 }

.hover {
    list-style-type: none;
    line-height: 2px;
    background-color: black;
    display: none;
    color: white;
    position: absolute;
    top:50px;
    left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
}

.hover:first-of-type:before{
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
    content: "";
    position: absolute;
    top: -10px;
    left: 35px;
}
a {
    text-decoration: none;
    color: white;
}

 ul.menu li {
     padding: 10px;
 }

/*SEKCJA 1  */

.arrows a{
    color: #26BAA0;
    font-weight: lighter;
    font-size: 80px;
}

.section1 {
    width: 100%;
    height: 500px;
    background:linear-gradient(#FAFAFA,#D2D1D9);
}

.section1 .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*slider*/
.slider{
    display: flex;
    height: 100%;

}
.slider ul{
    list-style: none;
}

.slider li{
    display: none;
}

.slider .visible{
    display: flex;
    align-self: center;
}
.blackChair {
    width: 470px;
}

/*koniec slider*/

h1 span {
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 800;
}

span:nth-of-type(2) {
    color: #26BAA0;
    font-weight: 900;
}
span:nth-of-type(4) {
    color: #26BAA0;
    font-weight: 900;
}
div#article p {
    line-height: 18px;
    font-size: 12px;
    margin-top:40px;
    margin-bottom: 40px;
    text-align: center;

}
#article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 60px;
}

button {
    height: 50px;
    width: 260px;
    background-color:#26BAA0;
    color: white;
    border: 1px solid #26BAA0 ;
    border-radius: 7px;
    text-align: center;
    font-size: 20px;
    font-family: Raleway;
}


/*SEKCJA 2  */

section.container {
    height: 350px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#clair {
    background-image: url("images/box1_img.jpg");
    width: 330px;
    height: 227px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}
#margarita {
    background-image: url("images/box2_img.jpg");
    width: 330px;
    height: 227px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.articleSection2 {
    box-sizing: border-box;
    width: 340px;
    height: 254px;
    border-style: solid;
    border-width: 1px;
    border-color: #D5D4DA;

}
.articleSection2 p, h3  {
    font-size: 13px;
    margin-left: 24px;
    padding-top: 30px;
    margin-right: 30px;
}
.opacityWhiteBackground {
    height: 62px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    padding-left: 13px;
    padding-top: 17px;
    font-weight: bold;
    font-size: 13px;
}

h3:after {
    content: "";
    display: block;
    height: 7px;
    width:138px;
    background-color: #26BAA0;
}
div.opacityWhiteBackground:after {
    content: "";
    height: 7px;
    width:138px;
    background-color: #26BAA0;
}
/* Section3*/

.section3 {
    background-color: #F1F1F1;
    height: 725px ;
}

.priceBox {
    height: 496px;
    width: 326px;
    border: 2px solid #D5D4DA;
    text-align: center;
    font-size: 17px;
    background-color: #F9F9F9;
    position: relative;
}

.prices {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
}
section.section3 .container {
     display: flex;
     flex-direction: column;
}

div.titleSection3 {
   width: 100%;
    margin-top: 50px;
}

h2:after {
    content: "";
    display: block;
    height: 7px;
    width: 322px;
    background-color: #26BAA0;
    margin-bottom: 40px;
}
.priceBox--Middle {
    height: 496px;
    width: 326px;
    border: 2px solid #26BAA0;
    text-align: center;
    font-size: 17px;
    background-color: #26BAA0;
    position: relative;
}
#buttonMiddle {
    background-color: white;
    color: #26BAA0;
    width: 124px;
    height: 35px;
    text-align: center;
    position: relative;
    top: 60px;
    /*tekst w srodkowym buttonie nie jest idealnie na srodku*/
}

#buttonMiddle a {
    color:#26BAA0 ;
    font-size: 13px;
    font-family: Raleway;
}

.buttonLeftRight {
    width: 124px;
    height: 35px;
    font-size: 13px;
    font-family: Raleway;
    position: absolute;
    bottom: 13px;
    left: 95px;
}

.plans {
    font-size: 20px;
    margin-top: 30px;
    position: relative;
    font-weight: 600;
    color:#26BAA0;
    letter-spacing: 1px;
}
.plans:before {
    content: "";
    display: block;
    width: 55px;
    height: 55px;
    border: 2px solid #D5D4DA;
    background-color: #B6B6B6;
    border-radius: 50%;
    box-shadow: inset 0 0 0 13px #fff ;
    position: absolute;
    left: calc(50% - 25px);
    top: -70px;
}
 .price {
     margin-top: 35px;
     margin-bottom: 35px;
     height: 127px;
     width: 127px;
     border: solid 2px #D5D4DA;
     background-color: white;
     border-radius: 50%;
     position: relative;
     left: 100px;
 }

div.price p:first-child {
    font-size: 35px;
    font-weight: 800;
    color: #CBCBCB;
    position: absolute;
    bottom: 55px;
    right: 40px;
}
sup:nth-of-type(1) {
    position: absolute;
    bottom: 27px;
}

div.price p:last-child {
    font-size: 14px;
    color: #CBCBCB;
    font-weight: 700;
    position: absolute;
    top: 70px;
    left: 25px;
}
div.priceBox div:nth-of-type(2) {
    height: 45px;
    width: 100%;
    background-color:#E4E4E4;
    color: #C3C3C3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
div.priceBox div:nth-of-type(3) {
    height: 45px;
    width: 100%;
    background-color:#F1F1F1;
    color: #C3C3C3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
div.priceBox div:nth-of-type(4) {
    height: 45px;
    width: 100%;
    background-color:#E4E4E4;
    color: #C3C3C3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
div.priceBox div:nth-of-type(5) {
    height: 45px;
    width: 100%;
    background-color:#F1F1F1;
    color: #C3C3C3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}


/*srodkowa cena*/

.plansStandard {
    color:white;
    font-size: 20px;
    margin-top: 30px;
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
}

.plansStandard:before {
    content: "";
    display: block;
    width: 55px;
    height: 55px;
    border: 2px solid #26BAA0;
    background-color: white;
    border-radius: 50%;
    box-shadow: inset 0 0 0 12px #26BAA0 ;
    position: absolute;
    left: calc(50% - 25px);
    top: -70px;
}
div.priceStandard p:first-child {
    font-size: 35px;
    font-weight: 700;
    color: #26BAA0;
    position: absolute;
    top: 21px;
    left: 35px;
}
div.priceStandard p:last-child {
    font-size: 14px;
    font-weight: bold;
    color: #26BAA0;
    position: absolute;
    left: 25px;
    bottom: 35px;
}

.priceStandard {
    margin-top: 35px;
    margin-bottom: 35px;
    height: 123px;
    width: 123px;
    border: solid 2px #26BAA0;
    background-color: white;
    border-radius: 50%;
    position: relative;
    left: 100px;
}
div.priceBox--Middle div:nth-of-type(3) {
    height: 45px;
    width: 100%;
    background-color:white;
    color: #C3C3C3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
div.priceBox--Middle div:nth-of-type(4) {
    height: 45px;
    width: 100%;
    background-color:#F1F1F1;
    color: #C3C3C3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
div.priceBox--Middle div:nth-of-type(5) {
    height: 45px;
    width: 100%;
    background-color:white;
    color: #C3C3C3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

sup{
    font-size: 14px;
}
.priceStandard sup {
    font-size: 14px;
    position: absolute;
    top: 0px;
}

/*section4*/

.section4 {
    margin-top: 0;
    height: 490px;
    display: flex;
    flex-direction: column;
}

.section4--Chair {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5px;
}
#redChair {
    height: 185px;
    width: 230px;
    align-self: center;
    position: relative;
    top: -20px;

}
section.section4 .container{
    display: flex;
    flex-direction: column;
}
.section4--Form-Chair {
    width: 100%;
    display: flex;
    flex-direction: row;
}
div.section4--Form-Chair {
    justify-content: space-between;
}
#contact{
    width: 100%;
    margin-top: 35px;
}
/*formularz*/
form input {
    width: 635px;
    height: 65px;
    border: 1px solid rgba(38, 186, 160, 0.5);
    align-items: center;
    margin-bottom: 25px;
    font-size: 25px;
}
input::placeholder {
    color: #C3C3C3;
    font-size: 25px;
    font-family: Raleway;
    padding-left: 15px;
}
textarea {
    width: 635px;
    border: 1px solid rgba(38, 186, 160, 0.5);
    height: 190px;
    resize: none;
    font-size: 25px;
}
textarea::placeholder {
    color: #C3C3C3;
    font-size: 25px;
    font-family: Raleway;
    padding-top: 17px;
    padding-left: 15px;
}

.section4--Form-Chair input:last-child {
    height: 72px;
    width: 340px;
    background-color:#26BAA0;
    color: white;
    border: 1px solid #26BAA0 ;
    border-radius: 7px;
    text-align: center;
    font-size: 25px;
    font-family: Raleway;
    font-weight: 600;
    margin-left: 65px;
}

/*checkbox*/
.checkbox {
    position: relative;
    margin-left: 60px;
}
.checkbox input {
    display: block;
    opacity: 0;
    height: 48px;
    position: absolute;
    width: 48px;
    cursor: pointer;
}

.checkbox label {
    display: block;
    padding-left: 65px;
    position: relative;
    font-size: 19px;
    color: #cecece;
    line-height: 120%;
    padding-top: 10px;
    cursor: pointer;
}

.checkbox label::before, .checkbox label::after {
    border: 1px solid #27c7ab;
    content: "";
    display: block;
    left: 0;
    height: 48px;
    position: absolute;
    width: 48px;
    top: 0;
}
.checkbox label::after {
    background: url("images/form_ok.jpg") no-repeat center;
    border: 1px solid #27c7ab;
    display: none;
}

.checkbox input:checked + label::after {
    display: block;
}

/*footer*/

footer {
    padding-top: 100px;
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}
footer p {
    display: flex;
    align-items: center;
    font-size: 16px;
    /*margin-right: 20px;*/
    color: #9C9C9C;
    font-weight: 500;
    justify-content: left;

}
.footer {
    display: flex;
    align-items: center;
}
.logo2 {
    display: flex;
    margin-left: 70px;
}
.logo2 p{
    margin-left: 10px;
}
.logo2 p:nth-of-type(2){
    font-weight: bold ;
}
footer a {
    margin-right: 8px;
}